// Colors
$white: #fff
$black: #000
$jaffa: #ef8438
$dark-cerulean: #0c4b71
$seagull: #81cff2
$medium-candy-apple-red: #e1112b
$android-green: #a5c535

// Fonts
@font-face
  font-family: 'Bebas'
  font-style: normal
  font-weight: normal
  src: url('../fonts/bebasneue_bold-webfont.woff') format('woff')

@font-face
  font-family: 'Museo'
  font-style: normal
  font-weight: normal
  src: url('../fonts/museosans-500-webfont.woff') format('woff')

@import 'bourbon'
@import 'generic/**/*'
@import 'layouts/**/*'
@import 'blocks/**/*'
