body
  margin: 0
  padding: 300px 0 0 0
  box-sizing: border-box
  min-height: calc(100vh + 1px)

  @media(min-width: 1024px)
    +transition(padding-top .5s $ease-in-out-quint)

  @media(max-width: 1023px)
    padding-top: 100px

  @media(max-width: 459px)
    padding-top: 230px !important

  &.shrunk
    padding-top: 100px

.container
  margin: 0 auto
  max-width: 1100px
  padding: 0 20px
